* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* common style */
.common_width {
  width: 85%;
}
.common_btn {
  background-color: #1d4ed8ff;
  color: white;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid #1d4ed8ff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.6s;
}
.common_btn:hover {
  background-color: white;
  color: #1d4ed8ff;
}

/* navigation section */
nav {
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
nav > ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
nav > ul a {
  text-decoration: none;
  font-size: 16px;
  color: #575757ff;
}

/* banner or hero section */
.banner_main_container {
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    url("../assets/banner.jpg");
  padding: 110px 0;
}
.banner_container {
  margin: 0 auto;
  max-width: 690px;
  text-align: center;
  margin: 0 auto;
  color: white;
}
.banner_container h1 {
  font-size: 65px;
}
.banner_container p {
  margin: 20px 0 270px;
}

/* speaker section */
.speaker_container {
  margin: 80px auto;
}
.speaker_container > h2 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
}
.speakers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.speaker {
  border: 1px solid red;
  border-radius: 12px;
  border: 1px solid #e5e7ebff;
  overflow: hidden;
}
.speaker img {
  width: 100%;
}
.speaker_details {
  padding: 24px;
}
.speaker_details h3 {
  font-size: 12px;
  color: #1d4ed8ff;
  font-weight: 600;
}
.speaker_details h2 {
  font-size: 20px;
  font-weight: 700;
  margin: 8px 0;
}
.speaker_details p {
  font-size: 14px;
  color: #575757ff;
}

/* secure your spot section */
.secure_your_spot_container {
  margin: 0 auto 80px;
}
.secure_your_spot_container > h2 {
  font-size: 40px;
  text-align: center;
  font-weight: 700;
}
.secure_your_spot_container > p {
  font-size: 16px;
  color: #575757ff;
  text-align: center;
  margin: 12px 0 40px;
}
.plans {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.plan {
  border: 1px solid #e5e7ebff;
  border-radius: 12px;
  padding: 20px;
}
.plan > h3 {
  font-size: 13px;
  color: #888888ff;
  text-transform: uppercase;
}
.plan > h2 {
  font-size: 40px;
  font-weight: 700;
  margin: 6px 0;
}
.plan > p {
  font-size: 13px;
  font-weight: 400;
  color: #888888ff;
}
.plan > hr {
  border: none;
  height: 2px;
  background-color: #e5e7ebff;
  margin: 20px 0;
}
.plan > ul {
  line-height: 30px;
  margin-bottom: 20px;
  list-style-position: inside;
}
.plan > ul li {
  font-size: 14px;
}
.plan > ul li::marker {
  color: #60a5fa;
}
.plan button {
  width: 100%;
}
/* plan two section */
.plans > div:nth-child(2) {
  background-color: #0d1b2aff;
  color: white;
}
.plans > div:nth-child(2) h3 {
  color: #93c5fdff;
}
.plans > div:nth-child(2) ul > li {
  color: #ffffffcc;
}
.plans > div:nth-child(2) hr {
  background: #ffffff1a;
}

/* plan three */
.plans > div:nth-child(3) {
  background-color: #f8f9fbff;
}
.plans > div:first-child button {
  background-color: white;
  color: #2563ebff;
}
.plans > div:nth-child(3) button {
  background-color: white;
  color: black;
  border: 1px solid black;
}

/* parners section */
.partners_container {
  margin: 0 auto 80px;
}
.partners_container > h3 {
  text-align: center;
  color: #2563ebff;
  font-weight: 700;
}
.partners_container > h2 {
  font-size: 40px;
  text-align: center;
  margin: 10px 0 50px;
}
.partners {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 20px;
}
.partners > div {
  border: 1px solid #e5e7ebff;
  filter: grayscale(100%);
  padding: 12px;
  object-fit: cover;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;

  transition: all 0.6s;
}
.partners > div:hover {
  filter: grayscale(0%);
  transform: scale(1.1);
}
.partners > div > img {
  width: 100%;
}
.partners > div:nth-child(7) {
  text-align: center;
}
.partners > div:nth-child(7) img {
  object-fit: cover;
  width: 85%;
}
.news_letter {
  margin: 0 auto 80px;
  padding: 50px 0;
}
.news_letter h2 {
  font-size: 40px;
  text-align: center;
}
.news_letter p {
  text-align: center;
  color: #575757ff;
  margin: 10px 0 30px;
}
.news_letter > div {
  max-width: 450px;
  margin: 0 auto;
  position: relative;
}

.news_letter input {
  width: 100%;
  font-size: 17px;
  padding: 18px;
  border: 1px solid rgb(198, 199, 200);
  border-radius: 6px;
  outline: none;
}
.news_letter > div > button {
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
}

/* footer */
footer {
  background-color: #0d1b2a;
  color: white;
  padding: 50px 0;
}
.footer_up_container {
  display: flex;
  justify-content: space-between;

  margin: 0 auto;
}

.footer_up_left > div {
  display: flex;
  gap: 15px;
  align-items: center;
}
.footer_up_left > div > img {
  height: 50px;
  width: 50px;
}
.footer_up_left p {
  max-width: 300px;
  color: #7d8ca5;
  margin-top: 15px;
}

.footer_right p {
  font-size: 16px;
  color: #7d8ca5;
}
.footer_right > div {
  margin-top: 15px;
}
.footer_right i {
  font-size: 22px;
}
.footer_right a {
  color: white;
}

footer hr {
  height: 1px;
  border: none;
  background-color: rgba(255, 255, 255, 0.12);
  width: 85%;
  margin: 40px auto;
}
.footer_down_container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_down_container > ul {
  display: flex;
  align-items: center;
  gap: 16px;
  list-style: none;
}
.footer_down_container p {
  font-size: 16px;
  color: #7d8ca5;
}
.footer_down_container > ul > li > a {
  font-size: 16px;
  color: #7d8ca5;
  text-decoration: none;
}
